CREATE DATABASE BibliotecaDB;
GO

USE BibliotecaDB;
GO

CREATE TABLE Autores
(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Nombre NVARCHAR(100) NOT NULL,
    Nacionalidad NVARCHAR(50) NOT NULL,
    AnioNacimiento INT NOT NULL
);
GO

CREATE TABLE Libros
(
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Titulo NVARCHAR(200) NOT NULL,
    AnioPublicacion INT NOT NULL,
    Genero NVARCHAR(50) NOT NULL,
    NumeroPaginas INT NOT NULL,
    Precio DECIMAL(10,2) NOT NULL,
    Disponible BIT NOT NULL,
    AutorId INT NOT NULL,

    CONSTRAINT FK_Libros_Autores
        FOREIGN KEY (AutorId)
        REFERENCES Autores(Id)
);
GO